    
        <div class="container">
            <div class="main-body">
                <br><br>
                  <div class="row gutters-sm">

                    <!--        NAME        -->
                    <div class="col-md-12 mb-4">
                      <div class="card">
                        <div class="card-body">
                          <div class="d-flex flex-column align-items-center text-center">
                            <img src="https://placekitten.com/200/200" alt="Avatar" class="rounded-circle" width="150">
                            <div class="mt-3">
                              <h4>${{pedido.Precio}}</h4>
                              <p class="text-secondary mb-1">Tipo de cola: {{pedido.Modalidad}} | Server: {{pedido.Servidor}}</p>
                              <p class="text-muted font-size-sm">{{pedido.Rol}} | Campeones: {{pedido.Campeones}}</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!--        NAME        -->

                    <!--        DESIRED/ACTUAL        -->
                    <div class="row gutters-sm">
                        <div class="col-sm-2 mb-2">
                          <div class="card h-100">
                            <div class="card-body">
                              <h6 class="d-flex align-items-center mb-3">Desired</h6>
                              <table class="table table-hover">
                                <thead>
                                  <tr>  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <td>{{pedido.Rango_Deseado}}</td>
                                  </tr>
                                </tbody>
                              </table>
                              ID LOL: {{idz}}<br>
                              PW LOL: {{pwz}}
                            </div>
                          </div>
                        </div>
                        <!--actual-->
                        <div class="col-sm-2 mb-2">
                          <div class="card h-100">
                            <div class="card-body">
                              <h6 class="d-flex align-items-center mb-3">Actual</h6>
                              <table class="table table-hover">
                                <thead>
                                  <tr>  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <td>{{pedido.Rango_Actual}} <br>LP: {{pedido.LP_Actuales}}
                                    <div class="progress mb-3" style="height: 5px">
                                        <div class="progress-bar bg-dark" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                                <form action="/auth/orderchange/{{pedido.ID_Pedido}}" method="POST">
                                <input id="user" type="text" value="{{user.ID_Booster}}" style="display: none;">
                              <div class="input-group mb-3">
                                  Rango Actual: 
                                <div class="drops">
                                <select id="Rango_Actual" name="Rango_Actual" class="dropdown">
                                <option><li class="dropd-item">Iron 4</li></option>
                                <option><li class="dropd-item">Iron 3</li></option>
                                <option><li class="dropd-item">Iron 2</li></option>
                                <option><li class="dropd-item">Iron 1</li></option>
                                <option><li class="dropd-item">Bronze 4</li></option>
                                <option><li class="dropd-item">Bronze 3</li></option>
                                <option><li class="dropd-item">Bronze 2</li></option>
                                <option><li class="dropd-item">Bronze 1</li></option>
                                <option><li class="dropd-item">Silver 4</li></option>
                                <option><li class="dropd-item">Silver 3</li></option>
                                <option><li class="dropd-item">Silver 2</li></option>
                                <option><li class="dropd-item">Silver 1</li></option>
                                <option><li class="dropd-item">Gold 4</li></option>
                                <option><li class="dropd-item">Gold 3</li></option>
                                <option><li class="dropd-item">Gold 2</li></option>
                                <option><li class="dropd-item">Gold 1</li></option>
                                <option><li class="dropd-item">Platinum 4</li></option>
                                <option><li class="dropd-item">Platinum 3</li></option>
                                <option><li class="dropd-item">Platinum 2</li></option>
                                <option><li class="dropd-item">Platinum 1</li></option>
                                <option><li class="dropd-item">Diamond 4</li></option>
                                <option><li class="dropd-item">Diamond 3</li></option>
                                <option><li class="dropd-item">Diamond 2</li></option>
                                <option><li class="dropd-item">Diamond 1</li></option>
                                <option><li class="dropd-item">Master</li></option>
                                <option><li class="dropd-item">Grand Master</li></option>
                                </select>
                            </div>
                            </div>
                                <br>
                              <br>
                              <div class="input-group mb-3">       
                                <br>
                                  LP:
                                      <input name="LP_Actuales" id="inp" type="number" class="form-control">
                                      <button class="btn btn-outline-dark" type="submit">Actualizar</button>
                                </form>
                                <form action="/auth/finishorder/{{pedido.ID_Pedido}}" method="POST"> <!--Aquí falta el terminar orden-->
                                <br><hr>
                                      <button type="submit" class="btn btn-dark">Terminar</button>
                                </form>
                              </div>
                            </div>
                            
                          </div>
                          
                        </div>

                        <!--        DESIRED/ACTUAL        -->


                        <!---           CHAT       PARTE DEL BOOSTER         -->
                        <div class="col-md-8">
                            <div class="inbox_msg" id="mss">
                            <div class="mesgs">
                              <div class="msg_history" id="chat">
                                
                                <div class="incoming_msg1">
                                <div class="incoming_msg_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                                <div class="received_msg">
                                <div class="received_withd_msg">
                                  <span class="time_date"> ELOHOTLINE CUSTOMER SUPPORT </span><hr>
                                  <p>Welcome to elo-hotline.com and thanks for you purchase.
                                    You will find updates about your order here.<br>Fill the inputs on your left with your Riot Account info so your booster can start working as soon as possible.<br><br>
                                    Our messages are encrypted so you dont have to worry about your credentials.<br><br>
                                    This chat is actually disabled but we are working hard to make it work.<br>
                                    You can contact with your booster or the customer support any time you want.<br>
                                    Discord server: <a href="https://discord.gg/wXEGGhDs94">https://discord.gg/wXEGGhDs94</a><br>Customer support: elo hotline#6581<br>
                                    Email: elo.hotline@gmail.com<br>
                                    Facebook: <a href="https://www.facebook.com/cheapnaeloboost">https://www.facebook.com/cheapnaeloboost</a>
                                    Twitter: <a href="https://twitter.com/EloHotline">https://twitter.com/EloHotline</a><br><br>
                                    Dont forget to follow us on our social media!
                                    
                                  </p>
                                  </div>
                                </div>
                              </div>
                              </div>
                              <div class="type_msg">
                              <div class="input_msg_write">
                                <form id="message-form" autocomplete="off">
                                  <input id="pedidoid" type="text" value="{{pedido.ID_Pedido}}" style="display: none;">
                                  <input id="message" type="text" class="write_msg" placeholder="Type a message"/>
                                  <button class="msg_send_btn" type="submit" disabled>Send</button>
                                </form>
                              </div>
                            
                              </div>
                              
                            </div>
                            </div>
                                
                          </div>
                          <!---           CHAT                -->
                      </div>
                  </div>
                </div>
            </div>
            <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="/socket.io/socket.io.js" charset="utf-8"></script>
    <script src="/js/main.js"></script>